/Aluno.class
/ComponenteCurricular$Conceito.class
/ComponenteCurricular$Natureza.class
/ComponenteCurricular.class
/CriterioEscalonamento.class
/Curso.class
/Disciplina.class
/DisciplinaCurso.class
/EscalonamentoCR.class
/EscalonamentoSemestre.class
/Historico.class
/Semestre.class
/TestMain.class
/Universidade.class
